In [1]:
import pandas as pd

In [3]:
pd.date_range(start="2021-08", periods=8, freq="W")

DatetimeIndex(['2021-08-01', '2021-08-08', '2021-08-15', '2021-08-22',
               '2021-08-29', '2021-09-05', '2021-09-12', '2021-09-19'],
              dtype='datetime64[ns]', freq='W-SUN')

In [4]:
pd.date_range(start="2021-08", periods=8, freq="M")

DatetimeIndex(['2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30',
               '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31'],
              dtype='datetime64[ns]', freq='M')

In [5]:
pd.date_range(start="2021-08", periods=8, freq="MS")

DatetimeIndex(['2021-08-01', '2021-09-01', '2021-10-01', '2021-11-01',
               '2021-12-01', '2022-01-01', '2022-02-01', '2022-03-01'],
              dtype='datetime64[ns]', freq='MS')

In [6]:
pd.date_range(start="2021-08", periods=8, freq="BMS")

DatetimeIndex(['2021-08-02', '2021-09-01', '2021-10-01', '2021-11-01',
               '2021-12-01', '2022-01-03', '2022-02-01', '2022-03-01'],
              dtype='datetime64[ns]', freq='BMS')

In [7]:
pd.date_range(start = "2021-08-02", periods = 8, freq = 7 * "1d")

DatetimeIndex(['2021-08-02', '2021-08-09', '2021-08-16', '2021-08-23',
               '2021-08-30', '2021-09-06', '2021-09-13', '2021-09-20'],
              dtype='datetime64[ns]', freq='7D')

In [8]:
import numpy as np

In [9]:
pd.DataFrame({
    "week":pd.date_range(start = "2021-08-02", periods = 8, freq = 7 * "1d"),
    "sales":[39,44, 40, 45,38, 43,39, np.nan],
    "3MA":[0,0,0,0,0,0,0,0]
})

        week  sales  3MA
0 2021-08-02   39.0    0
1 2021-08-09   44.0    0
2 2021-08-16   40.0    0
3 2021-08-23   45.0    0
4 2021-08-30   38.0    0
5 2021-09-06   43.0    0
6 2021-09-13   39.0    0
7 2021-09-20    NaN    0

In [10]:
pd.DataFrame({
    "week":pd.date_range(start = "2021-08-02", periods = 8, freq = 7 * "1d"),
    "sales":[39,44, 40, 45,38, 43,39, np.nan],
    "3MA":[0] * 8
})

        week  sales  3MA
0 2021-08-02   39.0    0
1 2021-08-09   44.0    0
2 2021-08-16   40.0    0
3 2021-08-23   45.0    0
4 2021-08-30   38.0    0
5 2021-09-06   43.0    0
6 2021-09-13   39.0    0
7 2021-09-20    NaN    0

In [11]:
df = pd.DataFrame({
                    "week":pd.date_range(start = "2021-08-02", periods = 8, freq = 7 * "1d"),
                    "sales":[39,44, 40, 45,38, 43,39, np.nan],
                    "3MA":[0] * 8
              })

In [12]:
df

        week  sales  3MA
0 2021-08-02   39.0    0
1 2021-08-09   44.0    0
2 2021-08-16   40.0    0
3 2021-08-23   45.0    0
4 2021-08-30   38.0    0
5 2021-09-06   43.0    0
6 2021-09-13   39.0    0
7 2021-09-20    NaN    0

In [13]:
df[["sales"]]

   sales
0   39.0
1   44.0
2   40.0
3   45.0
4   38.0
5   43.0
6   39.0
7    NaN

In [14]:
df[["sales"]].rolling(3).mean()

   sales
0    NaN
1    NaN
2   41.0
3   43.0
4   41.0
5   42.0
6   40.0
7    NaN

In [15]:
df[["sales"]].rolling(3).mean().shift(1)

   sales
0    NaN
1    NaN
2    NaN
3   41.0
4   43.0
5   41.0
6   42.0
7   40.0

In [16]:
df["3MA"] = df[["sales"]].rolling(3).mean().shift(1)

In [17]:
df

        week  sales   3MA
0 2021-08-02   39.0   NaN
1 2021-08-09   44.0   NaN
2 2021-08-16   40.0   NaN
3 2021-08-23   45.0  41.0
4 2021-08-30   38.0  43.0
5 2021-09-06   43.0  41.0
6 2021-09-13   39.0  42.0
7 2021-09-20    NaN  40.0